<div class="page-wrapper">
  <div class="title pt-3 pb-3 mx-auto text-center">
    <% if params[:search]["query"].present? %>
      <h1>Results for "<%= params[:search]["query"] %>"</h1>
    <% else %>
      <h1>Here are all the available tools</h1>
    <% end %>
  </div>
  <div class="cards-container">
      <% @tools.each do |tool| %>
            <%= link_to tool_path(tool) do %>
              <div class="card-trip">
                <%= cl_image_tag tool.photo.key %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= tool.name %></h2>
                    <div class="text-description">
                      <p><%= tool.description %></p>
                    </div>
                  </div>
                <h2 class="card-trip-pricing"><%= tool.daily_price %> €</h2>
                <%= cl_image_tag(tool.user.photo.key, :class => "card-trip-user avatar-bordered") %>
                </div>
              </div>
            <% end %>
      <% end %>
  </div>
  <div class="map-box-container">
    <% @markers = @tools.geocoded.map do |tool| %>
        <% { %>
          <%= lat: tool.latitude, %>
          <%= lng: tool.longitude %>
        <% } %>
      <% end %>
  </div>
</div>
