<div class="page-wrapper">
  <div class="title pt-3 pb-3 mx-auto text-center">
    <h1>Which tool do you need?</h1>
  </div>
  <div class="cards-container">
    <div class="row">
      <% @tools.each do |tool| %>
          <div class="col-4 mb-4">
            <%= link_to tool_path(tool) do %>
              <div class="card-trip">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <%# <%= cl_image_tag tool.photo.key %> %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= tool.name %></h2>
                    <p><%= tool.description %></p>
                  </div>
                <h2 class="card-trip-pricing"><%= tool.daily_price %> €</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <% if policy(Tool).create? %>
    <%= link_to "Add a new tool", new_tool_path, class: "btn btn-primary" %>
  <% end %>
</div>

<% if tool.user != current_user do%>
