<div class="page-wrapper">
  <div class="container">
    <div class="row mt-2" data-controller="calendar">
      <div class="col-9">
        <div class="pictures-tool">
          <div class="small-pics">
            <%= cl_image_tag(@tool.photo.key, :transformation => {:effect => "blur:300", :opacity => 70})%>
            <%= cl_image_tag(@tool.photo.key, :transformation => {:effect => "blur:300", :opacity => 70}) %>
            <%= cl_image_tag @tool.photo.key %>
          </div>
          <div class="tool-photo">
            <%= cl_image_tag(@tool.photo.key, :width => 700, :crop => "fit") %>
          </div>
        </div>
        <div class="text m-4">
          <h2 class="text-center"><%= @tool.name.capitalize %></h2>
          <h4><%= @tool.description %></h4>
          <p>Category: <%= @tool.category %></p>
          <p>Price per day: <%= @tool.daily_price %> €</p>
          <p>Condition: <%= @tool.condition %>/5</p>
        </div>
        <%= link_to 'Back to list', tools_path, class: "btn btn-ghost" %>
      </div>
      <div class="booking-tool col-3">
        <h4>Book this <%=@tool.name%></h4>
        <%= simple_form_for [@tool, @booking] do |f| %>
          <%= f.input :date_begin, as: :date, html5: true, input_html: {:"data-calendar-target"=> "datestart"} %>
          <%= f.input :date_end, as: :date, html5: true, input_html: {:"data-calendar-target"=> "dateend"}%>
          <%= f.submit "Submit", class: "btn btn-ghost" %>
        </div>
        <% end %>
        <div class="simple-calendar">
        <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
            <%= date %>
            <% meetings.each do |meeting| %>
            <div class="meeting">
            <p> Already Booked</p>
            </div>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
