<div class="container">
  <h1>List of all Bookings</h1>
  <ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.tool.name %> - <%= booking.date_begin %> <%= booking.date_end %> - <%= booking.total_price %> EUR
    <%= link_to "View", booking_path(booking) %></li>
  <% end %>
  </ul>
</div>
