<div class="page-wrapper">
  <h1>Your Bookings</h1>
  <ul>
    <% @user_bookings.each do |booking| %>
      <li><%= booking.tool.name %> - from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %> - <%= booking.total_price %> EUR
       - <%= booking.status %> <%= link_to "View", booking_path(booking) %></li>
    <% end %>
  </ul>

  <h1>Bookings for Your Tools</h1>
  <ul>
    <% @owner_bookings.each do |booking| %>
      <li>
        <%= booking.tool.name %> - <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %> - <%= booking.total_price %> EUR
        - <%= booking.status %>
        <%= link_to booking_path(booking) do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to booking_path(booking) do %>
          <i class="fas fa-check"></i>
        <% end %>
        <%= link_to booking_path(booking) do %>
          <i class="fas fa-times"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
