<div class="page-wrapper">
  <h1 style = 'text-align: center; padding:10px'>Welcome <%=current_user.first_name%></h1>

  <div class="tab_wrapper" data-controller="switch-tab">

    <ul class="list-inline tabs-underlined" id="dashboard-tab">
      <li>
        <h2>
          <a href="" class="tab-underlined active" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="bookings-user">My bookings</a>
        </h2>
      </li>
      <li>
        <h2>
        <a href="" class="tab-underlined" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="bookings-owner">Bookings on my tools</a>
        </h2>
      </li>
      <li>
        <h2>
        <a href="" class="tab-underlined" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="toolbox">My toolbox</a>
        </h2>
      </li>
    </ul>

    <div class="tab-content">

      <div data-switch-tab-target="content" data-tab-name="bookings-user">
        <h2  class="border-bottom list-container-title mb-3 pb-2">Your Bookings</h2>
          <% @user_bookings.each do |booking| %>
            <div class="card-for-list">
              <%= cl_image_tag booking.tool.photo.key %>
              <div class="card-for-list-infos">
                <h2><%= booking.tool.name %></h2>
                <p>from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %></p>
                <h2 class="card-for-list-pricing"><%= booking.total_price %> €</h2>
                <h2><%= booking.status %>
                  <%= link_to booking_path(booking) do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <% if policy(booking).cancel? %>
                    <%= link_to cancel_booking_path(booking), method: :patch do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  <% end %>
                </h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="d-none" data-switch-tab-target="content" data-tab-name="bookings-owner">
        <h2 class="border-bottom list-container-title mb-3 pb-2">Bookings for Your Tools</h2>
        <% @owner_bookings.each do |booking| %>
          <div class="card-for-list">
            <%= cl_image_tag booking.tool.photo.key %>
            <div class="card-for-list-infos">
              <h2><%= booking.tool.name %></h2>
              <p>from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %></p>
              <h2 class="card-for-list-pricing"><%= booking.total_price %> €</h2>
              <h2>
                <%= booking.status %>
                <%= link_to booking_path(booking) do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <% if policy(booking).accept? %>
                  <%= link_to accept_booking_path(booking), method: :patch do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                <% end %>
                <% if policy(booking).decline? %>
                  <%= link_to decline_booking_path(booking), method: :patch do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                <% end %>
              </h2>
            </div>
          </div>
        <% end %>
        <p>In this space I will get the bookings requested by other users on my tools</p>
        <p>If I have not tool, i think the tab should be disabled</p>
        <p>If I have tools but no bookings on them, I should get a message <em>"no bookings on my tools yet"</em></p>
      </div>

      <div class="d-none" data-switch-tab-target="content" data-tab-name="toolbox">
        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
          <h2 class="list-container-title mb-1">
            Your toolbox
          </h2>
          <%= link_to '+', new_tool_path, class: "add-btn" %>
        </div>
        <% @owner_tools.each do |tool| %>
          <div class="card-for-list">
            <%= cl_image_tag tool.photo.key %>
            <div class="card-for-list-infos">
              <h2><%= tool.name %></h2>
              <p><%=tool.category%></p>
              <h2 class="card-for-list-pricing"><%= tool.daily_price %> €</h2>
              <h2><%= link_to tool_path(tool) do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= link_to edit_tool_path(tool) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to tool_path(tool) do %>
                <i class="fas fa-times"></i>
              <% end %>
              </h2>
            </div>
          </div>
        <% end %>
        <p>In this space I will get the my tools</p>
        <p>If I have not tool, I could get a message <em>"no tools yet in your toolbox... Add a tool"</em></p>
      </div>

    </div>
  </div>

</div>
