<div class="page-wrapper">
  <h1>Your Bookings</h1>
  <ul>
    <% @user_bookings.each do |booking| %>
      <li>
        <%= booking.tool.name %> - from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %> - <%= booking.total_price %> EUR
        - <%= booking.status %>
        <%= link_to booking_path(booking) do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_booking_path(booking) do %>
          <i class="fas fa-times"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h1>Bookings for Your Tools</h1>
  <ul>
    <% @owner_bookings.each do |booking| %>
      <li>
        <%= booking.tool.name %> - from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %> - <%= booking.total_price %> EUR
        - <%= booking.status %>
        <%= link_to booking_path(booking) do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_booking_path(booking) do %>
          <i class="fas fa-check"></i>
        <% end %>
        <%= link_to edit_booking_path(booking) do %>
          <i class="fas fa-times"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h1>The first booking of the owner is:</h1>
    <% booking = @owner_bookings.first %>
    <ul>
      <li>
        Tool: <%= booking.tool.name %>
      </li>
      <li>
        Begin: <%= booking.date_begin.strftime("%d/%m/%Y") %>
      </li>
      <li>
        End: <%= booking.date_end.strftime("%d/%m/%Y") %>
      </li>
      <li>
        status: <%= booking.status %>
      </li>
      <li>
        <%= booking.total_price %> EUR
      </li>
      <li>
        Lien "accept":
        <%= link_to 'accept', accept_booking_path(booking),
          method: :patch
        %>
          <i class="fas fa-check"></i>
      </li>
      <li>
        Lien "Decline":
      </li>
    </ul>

</div>
