<div class="page-wrapper">
  <h2 style = 'text-align: center; padding:10px'><%=current_user.first_name.upcase %>'S DASHBOARD</h2>

  <div class="tab_wrapper" data-controller="switch-tab">

    <ul class="list-inline tabs-underlined" id="dashboard-tab">
      <li>
        <h3>
          <a href="" class="tab-underlined active" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="bookings-user">My bookings</a>
        </h3>
      </li>
      <li>
        <h3>
        <a href="" class="tab-underlined" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="bookings-owner">Bookings on my tools</a>
        </h3>
      </li>
      <li>
        <h3>
        <a href="" class="tab-underlined" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="toolbox">My toolbox</a>
        </h3>
      </li>
    </ul>

    <div class="tab-content">

      <div class="page-wrapper">

        <div class="cards-container" id="your-bookings" data-switch-tab-target="content" data-tab-name="bookings-user">
          <% @user_bookings.each do |booking| %>
            <div class="card-trip">
              <%= cl_image_tag booking.tool.photo.key %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= booking.tool.name %></h2>
                  <div class="text-description">
                    <p>from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %></p>
                  </div>
                  <%= cl_image_tag(booking.tool.user.photo.key, :class => "card-trip-user avatar-bordered") %>
                </div>
                <div>
                  <h2 class="card-trip-pricing"><%= booking.total_price %> €</h2>
                  <h2><%= booking.status %></h2>
                </div>
                <%= link_to booking_path(booking) do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <% if policy(booking).cancel? %>
                  <%= link_to cancel_booking_path(booking), method: :patch do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="cards-container d-none" id="bookings-for-your-tools" data-switch-tab-target="content" data-tab-name="bookings-owner">
          <% @owner_bookings.each do |booking| %>
            <div class="card-trip">
              <%= cl_image_tag booking.tool.photo.key %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= booking.tool.name %></h2>
                  <div class="text-description">
                    <p>from <%= booking.date_begin.strftime("%d/%m/%Y") %> to <%= booking.date_end.strftime("%d/%m/%Y") %></p>
                  </div>
                  <%= cl_image_tag(booking.user.photo.key, :class => "card-trip-user avatar-bordered") %>
                </div>
                <div>
                  <h2 class="card-trip-pricing"><%= booking.total_price %> €</h2>
                  <h2><%= booking.status %></h2>
                </div>
                <%= link_to booking_path(booking) do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <% if policy(booking).accept? %>
                  <%= link_to accept_booking_path(booking), method: :patch do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                <% end %>
                <% if policy(booking).decline? %>
                  <%= link_to decline_booking_path(booking), method: :patch do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="cards-container d-none" id="your-toolbox" data-switch-tab-target="content" data-tab-name="toolbox">
          <%= link_to new_tool_path do %>
          <div class="card-trip">
            <div class="plus">
              <%= image_tag "Logo-plus.png" %>
            </div>
            <div class="card-trip-infos">
              <div>
                <h2>Add a new tool</h2>
                <div class="text-description">
                  <p>A new comer to your toolbox? Click here!</p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% @owner_tools.each do |tool| %>
            <div class="card-trip">
              <%= cl_image_tag tool.photo.key %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= tool.name %></h2>
                  <div class="text-description">
                    <p><%=tool.category%></p>
                  </div>
                </div>
                <h2 class="card-for-list-pricing"><%= tool.daily_price %> €</h2>
                <h2>
                  <%= link_to tool_path(tool) do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <%= link_to tool_path(tool) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to tool_path(tool) do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                </h2>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>

</div>
