<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dG9vbHxlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60);">
    <h1>Welcome to Mr.Bricoloc</h1>
    <p>Break the limitations to your inspiration </p>

    <form novalidate="novalidate" class="simple_form search col-6 offset-3" action="/tools" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-ghost">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
</div>

<div class="page-wrapper">
  <div class="d-flex justify-content-center m-4">
    <h1>Most popular tools</h1>
  </div>
  <div class="cards-container">
      <% @tools.each do |tool| %>
            <%= link_to tool_path(tool) do %>
              <div class="card-trip">
                <%= cl_image_tag tool.photo.key %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= tool.name %></h2>
                    <div class="text-description">
                      <p><%= tool.description %></p>
                    </div>
                  </div>
                <h2 class="card-trip-pricing"><%= tool.daily_price %> €</h2>
                <%= cl_image_tag(tool.user.photo.key, :class => "card-trip-user avatar-bordered") %>
                </div>
              </div>
            <% end %>
      <% end %>
  </div>
</div>
